@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    /* - //COLORS//- */
    --main-color: #FFFFFF;
    --secondary-color: #167BF7;
    --third-color: #EC2F46;
    --p-color: #c0c0c0;
    --background-color: #00030C;

    /* - //FONTS// -  */
    --main-font: "Inter", sans-serif; 


    /* - //PADDING// - */
    --main-padding: 8.125rem 13.75rem;
}

.body {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100vh;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 12.5rem 50rem 13.75rem 13.12rem;
    background-image: url(/img/Background.png);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;

    & .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 36.75rem;
        
    }

    & .maintext {
        font-size: 28px;
        font-family: var(--main-font);
        text-align: center;
        color: var(--main-color);
    }

    & .vetores {
        display: flex;
        width: 36.75rem;
        justify-content: center;
    }

    & .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    & .assinar12 {
        background-color: var(--secondary-color);
        text-decoration: none;
        width: 32rem;
        border-radius: 0.5rem;
        font-family: var(--main-font);
        text-align: center;
        color: var(--main-color);

        padding: 1rem;
    }

    & .assinaralura {
        padding: 1rem;
        color: var(--main-color);
        background-color: transparent;
        text-decoration: none;
        text-align: center;
        font-family: var(--main-font);
        font-size: 1rem;
        border: 1px solid var(--main-color);
        border-radius: 0.5rem;
        width: 32rem;
        
    }

    & .asterisco {
        color: var(--p-color);
        font-family: var(--main-font);
        font-size: 0.75rem;
        width: 36.75rem;
        text-align: center;
        
    }
}

main {
    background-color: var(--background-color);
    color: #FFFFFF;
    padding: 0 7.5rem 0 10.312rem;

    & .principal {
        display: flex;
        flex-direction: column;
        /* padding: 120px 100px; */
    }

    & .parte1 {
        display: flex;
        justify-content: space-between;
        padding: var(--main-padding);
        gap: 4.375rem;
    }

    & .imagem1 {
        max-width: 100%;
        width: auto;
    }

    & .textos1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: var(--main-font);
    }

    & .textos1__titulo {
        font-size: 3rem;
        text-align: left;
    }

    & .textos1__p {
        color: var(--p-color);
        font-size: 1rem;
        text-align: left;
    }



    & .parte2 {
        display: flex;
        flex-direction: row-reverse;
        gap: 4.375rem;
        padding: var(--main-padding);
    }

    & .imagem2 {
        max-width: 100%;
        width: auto;
    }

    & .textos2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        font-family: var(--main-font);
    }

    & .textos2__p {
        color: var(--p-color);
        font-size: 1rem;
    }

    & .assinecombomais {
        background-color: var(--secondary-color);
        color: var(--main-color);
        font-family: var(--main-font);
        padding: 1rem;
        border-radius: 0.5rem;
        text-decoration: none;
        text-align: center;
        width: 10rem;
    }



    & .parte3 {
        display: flex;
        gap: 4.375rem;
        padding: var(--main-padding);
    }

    & .imagem3 {
        max-width: 100%;
        width: auto;
    }

    & .textos3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    & .textos3__titulo {
        font-family: var(--main-font);
        font-size: 3rem;
        text-align: left;
    }

    & .textos3__p {
        color: var(--p-color);
        font-family: var(--main-font);
        font-size: 1rem;
        text-align: left;
    }




    & .dispositivos__titulo {
        font-family: var(--main-font);
        font-size: 3rem;
        text-align: center;
        padding: 3rem 0;
    }
    
    & .dispositivos {
        display: flex;
        justify-content: space-between;
        padding:  0 15.62rem 9.062rem 15.62rem;
    }

    & h1 {
        font-family: var(--main-font);
        font-size: 2rem;
        text-align: center;
    }

    & .tv {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & .computador {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & .celular {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

footer {
    background-color: var(--background-color);

    & .rodape__vetor {
        text-align: center;
        padding: 2.5rem 0;
    }

    & .rodape__links {
        display: flex;
        gap: 1rem;
        justify-content: center;
        font-family: var(--main-font);
        font-size: 1rem;
        padding: 0 0 1.5rem 0;
    }

    & .rodape__links__link {
        color: var(--main-color);
        text-decoration: none;
    }

    & .rodape__p {
        color: var(--p-color);
        font-family: var(--main-font);
        font-size: 0.875rem;
        text-align: center;
        padding: 0 23.75rem 5rem 23.75rem;
    }
}

@media (max-width: 1432px) {
    .head {
        background-image: none;
        background-color: var(--background-color);
    }

    .container {
        align-items: center;
    }
}